body{
    font-size: 14px;
}
#main-header
{
    flex-direction: column;
}
#main-header .left-div
{
    margin-right: 0px;
    /* margin-bottom: 20px; */
}
#main-header .right-div
{
    margin-bottom: 390px;
}
#main-header .third-div
{
    margin-right: 0px;
}
#main-header .third-div .aboutme-div .me-image
{
    height: 100px;
    align-self: center;
}