*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: #fdfefe;
    /* background: #E5E7E9; */
}
.container
{
    padding: 0.5rem;
}
.highlight
{
    color: #FF5733;
}
/* navbar */
#navbar
{
    /* background: #D5DBDB; */
    color: #FF5733;
    /* color: #fff; */

}
#navbar h1{
    padding: 0.5rem;
    text-align: center;
}
/* heading */

#main-header
{
    display: flex;
    /* background: #D5DBDB; */
    color: #FF5733;
}
#main-header .left-div
{
    flex: 1;
    height: 45vh;
    border: #f4f4f4 0.7px solid;
    padding: 1rem;
    margin-right: 10px;
    /* background: #D5F5E3; */
    /* background: #2C3E50 ; */
    background: #424949;
    /* background: #fdfefe; */
    /* color: #17202A; */
    color: #fdfefe;
    border-radius: 15px;
    text-align: center;
}

/* #main-header .left-div .left-div-1
{
    background: #424949;
} */
#main-header .right-div
{
    flex: 1;
    height: 45vh;
    border: #f4f4f4 0.7px solid;
    padding: 1rem;
    text-align: center;
    /* margin-right: 10px; */
    /* background: #FCF3CF; */
    background: #424949;
    /* color: #17202A; */
    color: #fdfefe;
    border-radius: 15px;
}
#main-header .left-div .socials
{
    padding: 20px;
}

/* #main-header .left-div .socials img
{
    display: block;
    height: 60px;
    width: 80px;
} */
#main-header .left-div .socials
{
    display: flex;
    justify-content: space-around;
}
#main-header .left-div .socials .social-icons
{
    margin: 0 5px;
}
#main-header .left-div .socials .social-icons i
{
    color: #FF5733;
}
/* about me div in header */
#main-header .third-div
{
    flex: 1;
    height: 45vh;
    border: #f4f4f4 0.7px solid;
    padding: 1rem;
    /* text-align: center; */
    /* background: #FCF3CF; */
    background: #424949;
    /* color: #17202A; */
    color: #fdfefe;
    border-radius: 15px;
    order: -1;
    margin-right: 10px;
}
#main-header .third-div .aboutme-div .me-image{
    background: #333 url('img/compressed.jpg') no-repeat center center/cover;
    height: 180px;
    width: 170%;
    /* padding: 1rem; */
    margin-right: 20px;
    border-radius: 20px;
}
#main-header .third-div .third-div-heading{
    margin-bottom: 1rem;
    color: #FF5733;
    text-align: center;
    font-size: 1.3rem;
}
#main-header .third-div .aboutme-div
{
    display: flex;
    padding: 1rem;
}
/* below socials */
#main-header .left-div h3{
    margin-top: 30px;
    margin-bottom: 20px;
}
#main-header .left-div .games a{
    text-decoration: none;
}
#main-header .left-div .games a:hover
{
    color: #FF5733;
    background: #fdfefe;
}
.btn
{
    color: #fdfefe;
    background:#FF5733;
    padding: 8px;
    border-radius: 6px;
    margin: 0 20px;
}

/* footer */
#main-footer
{
    padding: 1rem;
    text-align: center;
    /* background: #FADBD8; */
    color: #17202A;
}